# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Environment variables
.env

# Data and embeddings
/data/docs/
/data/embeddings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.bak
*.tmp
